<style>
    @media screen and (max-width: 640px) {
        .founded-content p{
            font-size: 30px;
            line-height: 34px;
        }
    }
</style>

<section class="mx-auto flex h-full justify-center nf-founded  bg-[#AB8F80]">
    <div class="flex flex-col w-10/12 max-[989px]:pt-[50px]">
        <div class="flex max-[989px]:flex-col max-[989px]:gap-[50px] max-[640px]:gap-[10px]">
            <div class="relative sm:h-full w-1/2 max-[989px]:w-full flex flex-col justify-center ">
                
                <h5 class="text-white uppercase font-normal pl-[80px] max-[640px]:pl-[0px]">
                    <span>
                        {{ section.settings.title }}
                    </span>
                </h5>
                <div class=" founded-content relative max-w-[590px] pl-[110px] max-[640px]:pl-[30px] [&>p]:text-[40px] [&>p]:leading-[50px] [&>p]:max[640px]:text-[30px] [&>p]:max[640px]:leading-[40px] [&>p]:text-white [&>p]:italic">
                    
                    <p class="relative">
                        <span class="absolute left-[-27px]">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg width="25px" height="20px" viewBox="0 0 25 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>Shape</title>
                                <g id="Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.153645833">
                                    <g transform="translate(-151, -1018)" fill="#FFFFFF" fill-rule="nonzero" id="Shape">
                                        <path d="M155.397516,1038 C154.10559,1038 153.049689,1037.51338 152.229814,1036.54015 C151.409938,1035.56691 151,1034.22871 151,1032.52555 C151,1030.09246 151.47205,1027.92701 152.416149,1026.0292 C153.360248,1024.13139 154.639752,1022.50122 156.254658,1021.13869 C157.869565,1019.77616 159.670807,1018.72993 161.658385,1018 L163,1021.13869 C161.360248,1021.86861 159.981366,1022.74453 158.863354,1023.76642 C157.745342,1024.78832 156.900621,1025.84672 156.329193,1026.94161 C155.757764,1028.0365 155.47205,1029.0219 155.47205,1029.89781 L155.397516,1034.93431 L153.310559,1030.84672 C153.708075,1030.45742 154.142857,1030.17762 154.614907,1030.0073 C155.086957,1029.83698 155.496894,1029.75182 155.84472,1029.75182 C157.086957,1029.75182 158.093168,1030.06813 158.863354,1030.70073 C159.63354,1031.33333 160.018634,1032.20925 160.018634,1033.32847 C160.018634,1034.59367 159.596273,1035.68856 158.751553,1036.61314 C157.906832,1037.53771 156.78882,1038 155.397516,1038 Z M168.397516,1038 C167.10559,1038 166.049689,1037.51338 165.229814,1036.54015 C164.409938,1035.56691 164,1034.22871 164,1032.52555 C164,1030.09246 164.47205,1027.92701 165.416149,1026.0292 C166.360248,1024.13139 167.639752,1022.50122 169.254658,1021.13869 C170.869565,1019.77616 172.670807,1018.72993 174.658385,1018 L176,1021.13869 C174.360248,1021.86861 172.981366,1022.74453 171.863354,1023.76642 C170.745342,1024.78832 169.900621,1025.84672 169.329193,1026.94161 C168.757764,1028.0365 168.47205,1029.0219 168.47205,1029.89781 L168.397516,1034.93431 L166.310559,1030.84672 C166.708075,1030.45742 167.142857,1030.17762 167.614907,1030.0073 C168.086957,1029.83698 168.496894,1029.75182 168.84472,1029.75182 C170.086957,1029.75182 171.093168,1030.06813 171.863354,1030.70073 C172.63354,1031.33333 173.018634,1032.20925 173.018634,1033.32847 C173.018634,1034.59367 172.596273,1035.68856 171.751553,1036.61314 C170.906832,1037.53771 169.78882,1038 168.397516,1038 Z"></path>
                                    </g>
                                </g>
                            </svg>
                        </span>
                        {{ section.settings.content }}
                        <span class="absolute right-[186px] bottom-[20px] max-[680px]:hidden">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg width="25px" height="20px" viewBox="0 0 25 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>Shape</title>
                            <g id="Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15">
                                <g transform="translate(-462, -1134)" fill="#FFFFFF" fill-rule="nonzero" id="Shape">
                                    <path d="M463.341615,1154 L462,1150.78832 C463.639752,1150.05839 465.018634,1149.18248 466.136646,1148.16058 C467.254658,1147.13869 468.086957,1146.09246 468.63354,1145.0219 C469.180124,1143.95134 469.453416,1142.95377 469.453416,1142.0292 L469.602484,1137.06569 L471.689441,1141.08029 C471.291925,1141.42092 470.869565,1141.68856 470.42236,1141.88321 C469.975155,1142.07786 469.52795,1142.17518 469.080745,1142.17518 C467.937888,1142.17518 466.968944,1141.87105 466.173913,1141.26277 C465.378882,1140.6545 464.981366,1139.76642 464.981366,1138.59854 C464.981366,1137.382 465.416149,1136.31144 466.285714,1135.38686 C467.15528,1134.46229 468.26087,1134 469.602484,1134 C470.89441,1134 471.950311,1134.47445 472.770186,1135.42336 C473.590062,1136.37226 474,1137.72263 474,1139.47445 C474,1141.85888 473.515528,1144.01217 472.546584,1145.93431 C471.57764,1147.85645 470.298137,1149.48662 468.708075,1150.82482 C467.118012,1152.16302 465.329193,1153.22141 463.341615,1154 Z M476.341615,1154 L475,1150.78832 C476.639752,1150.05839 478.018634,1149.18248 479.136646,1148.16058 C480.254658,1147.13869 481.086957,1146.09246 481.63354,1145.0219 C482.180124,1143.95134 482.453416,1142.95377 482.453416,1142.0292 L482.602484,1137.06569 L484.689441,1141.08029 C484.291925,1141.42092 483.869565,1141.68856 483.42236,1141.88321 C482.975155,1142.07786 482.52795,1142.17518 482.080745,1142.17518 C480.937888,1142.17518 479.968944,1141.87105 479.173913,1141.26277 C478.378882,1140.6545 477.981366,1139.76642 477.981366,1138.59854 C477.981366,1137.382 478.416149,1136.31144 479.285714,1135.38686 C480.15528,1134.46229 481.26087,1134 482.602484,1134 C483.89441,1134 484.950311,1134.47445 485.770186,1135.42336 C486.590062,1136.37226 487,1137.72263 487,1139.47445 C487,1141.85888 486.515528,1144.01217 485.546584,1145.93431 C484.57764,1147.85645 483.298137,1149.48662 481.708075,1150.82482 C480.118012,1152.16302 478.329193,1153.22141 476.341615,1154 Z"></path>
                                </g>
                            </g>
                        </svg>
                    </span>
                    </p>
                    
                </div>
                <span class=" max-w-[490px] text-right text-white">{{ section.settings.name }}</span>
                
            </div>
            <div class="flex flex-col sm:h-full w-1/2 max-[989px]:w-full">
            <img src="{{ section.settings.banner_image | img_url: 'master' }}" alt="hero-img"
                class="w-full object-contain origin-top-right " /> 
            </div>
        </div>
    </div>
</section>
{% schema %}
{
    "name": "NF - Founded",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "content",
            "label": "content"
        },
        {
            "type": "text",
            "id": "name",
            "label": "Name"
        }
    ],
    "presets": [
        {
            "name": "NF - Founded"
        }
    ]
}
{% endschema %}